<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MecoreMessageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F6560C319D394390090093A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6560E319D3943A0090093A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24AEC771B4D2E5A00524C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
